@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --bg100: hsl(40, 23%, 97%);
  --bg200: hsl(43, 13%, 90%);
  --bg300: hsl(40, 15%, 80%);
  --bg400: hsl(39, 11%, 69%);
  --bg500: hsl(41, 8%, 61%);

  --text100: hsl(41, 8%, 48%);
  --text200: hsl(41, 9%, 35%);
  --text300: hsl(37, 11%, 28%);
  --text400: hsl(40, 13%, 23%);
  --text500: hsl(42, 15%, 13%);

  --border100: hsl(40, 15%, 80%);
  --border200: hsl(39, 11%, 69%);
  --border300: hsl(41, 8%, 61%);
  --border400: hsl(41, 8%, 48%);
  --border500: hsl(37, 11%, 28%);

  --primary100: hsl(184, 65%, 59%);
  --primary200: hsl(185, 57%, 50%);
  --primary300: hsl(185, 62%, 45%);

  --supporting100: hsl(360, 92%, 20%);
  --supporting200: hsl(360, 85%, 25%);
}

@theme inline {
  --color-bg100: var(--bg100);
  --color-bg200: var(--bg200);
  --color-bg300: var(--bg300);
  --color-bg300: var(--bg300);
  --color-bg400: var(--bg400);
  --color-bg500: var(--bg500);

  --color-text100: var(--text100);
  --color-text200: var(--text200);
  --color-text300: var(--text300);
  --color-text400: var(--text400);
  --color-text500: var(--text500);

  --color-border100: var(--border100);
  --color-border200: var(--border200);
  --color-border300: var(--border300);
  --color-border400: var(--border400);
  --color-border500: var(--border500);

  --color-primary100: var(--primary100);
  --color-primary200: var(--primary200);
  --color-primary300: var(--primary300);

  --color-supporting100: var(--supporting100);
  --color-supporting200: var(--supporting200);

  /* === Primary (Indigo) === */
  --color-indigo-50: #e0e8f9;
  --color-indigo-100: #bed0f7;
  --color-indigo-200: #98aeeb;
  --color-indigo-300: #7b93db;
  --color-indigo-400: #647acb;
  --color-indigo-500: #4c63b6;
  --color-indigo-600: #4055a8;
  --color-indigo-700: #35469c;
  --color-indigo-800: #2d3a8c;
  --color-indigo-900: #19216c;

  /* === Neutrals (Cool Grey) === */
  --color-cool-grey-50: #f5f7fa;
  --color-cool-grey-100: #e4e7eb;
  --color-cool-grey-200: #cbd2d9;
  --color-cool-grey-300: #9aa5b1;
  --color-cool-grey-400: #7b8794;
  --color-cool-grey-500: #616e7c;
  --color-cool-grey-600: #52606d;
  --color-cool-grey-700: #3e4c59;
  --color-cool-grey-800: #323f4b;
  --color-cool-grey-900: #1f2933;

  /* === Supporting (Light Blue Vivid) === */
  --color-light-blue-vivid-50: #e3f8ff;
  --color-light-blue-vivid-100: #b3ecff;
  --color-light-blue-vivid-200: #81defd;
  --color-light-blue-vivid-300: #5ed0fa;
  --color-light-blue-vivid-400: #40c3f7;
  --color-light-blue-vivid-500: #2bb0ed;
  --color-light-blue-vivid-600: #1992d4;
  --color-light-blue-vivid-700: #127fbf;
  --color-light-blue-vivid-800: #0b69a3;
  --color-light-blue-vivid-900: #035388;

  /* === Supporting (Red Vivid) === */
  --color-red-vivid-50: #ffe3e3;
  --color-red-vivid-100: #ffbdbd;
  --color-red-vivid-200: #ff9b9b;
  --color-red-vivid-300: #f86a6a;
  --color-red-vivid-400: #ef4e4e;
  --color-red-vivid-500: #e12d39;
  --color-red-vivid-600: #cf1124;
  --color-red-vivid-700: #ab091e;
  --color-red-vivid-800: #8a041a;
  --color-red-vivid-900: #610316;

  /* === Supporting (Yellow Vivid) === */
  --color-yellow-vivid-50: #fffbea;
  --color-yellow-vivid-100: #fff3c4;
  --color-yellow-vivid-200: #fce588;
  --color-yellow-vivid-300: #fadb5f;
  --color-yellow-vivid-400: #f7c948;
  --color-yellow-vivid-500: #f0b429;
  --color-yellow-vivid-600: #de911d;
  --color-yellow-vivid-700: #cb6e17;
  --color-yellow-vivid-800: #b44d12;
  --color-yellow-vivid-900: #8d2b0b;

  /* === Supporting (Teal) === */
  --color-teal-50: #effcf6;
  --color-teal-100: #c6f7e2;
  --color-teal-200: #8eedc7;
  --color-teal-300: #65d6ad;
  --color-teal-400: #3ebd93;
  --color-teal-500: #27ab83;
  --color-teal-600: #199473;
  --color-teal-700: #147d64;
  --color-teal-800: #0c6b58;
  --color-teal-900: #014d40;
}

body {
  font-family: var(--font-montserrat);
  min-height: 100vh;
  background-color: var(--color-cool-grey-50);
}

.my-input {
  @apply border-border100 focus:outline-border500 rounded-md border p-2 outline-none focus:outline-1 focus:outline-solid;
}

.btn-primary {
  @apply bg-primary100 text-bg100 rounded-md py-2 font-semibold;
}
