@import 'tailwindcss';

:root {
  --bgMain: #f0f4f8;
  --border100: #bcccdc;
  --bg100: #102a43;
  --nuetral100: #627d98;
}

@theme {
  --color-bgMain: var(--bgMain);
  --color-border100: var(--border100);
  --color-bg100: var(--bg100);
  --color-nuetral100: var(--nuetral100);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}
