@import 'tailwindcss';
@import '../styles/accent.css';
@import '../styles/supporting.css';
@import '../styles/gray.css';
@import '../styles/background.css';
@plugin '@tailwindcss/typography';

@theme inline {
  /* === Primary (Indigo) === */
  --color-indigo-50: #e0e8f9;
  --color-indigo-100: #bed0f7;
  --color-indigo-200: #98aeeb;
  --color-indigo-300: #7b93db;
  --color-indigo-400: #647acb;
  --color-indigo-500: #4c63b6;
  --color-indigo-600: #4055a8;
  --color-indigo-700: #35469c;
  --color-indigo-800: #2d3a8c;
  --color-indigo-900: #19216c;

  /* === Neutrals (Cool Grey) === */
  --color-cool-grey-50: #f5f7fa;
  --color-cool-grey-100: #e4e7eb;
  --color-cool-grey-200: #cbd2d9;
  --color-cool-grey-300: #9aa5b1;
  --color-cool-grey-400: #7b8794;
  --color-cool-grey-500: #616e7c;
  --color-cool-grey-600: #52606d;
  --color-cool-grey-700: #3e4c59;
  --color-cool-grey-800: #323f4b;
  --color-cool-grey-900: #1f2933;

  /* === Supporting (Light Blue Vivid) === */
  --color-light-blue-vivid-50: #e3f8ff;
  --color-light-blue-vivid-100: #b3ecff;
  --color-light-blue-vivid-200: #81defd;
  --color-light-blue-vivid-300: #5ed0fa;
  --color-light-blue-vivid-400: #40c3f7;
  --color-light-blue-vivid-500: #2bb0ed;
  --color-light-blue-vivid-600: #1992d4;
  --color-light-blue-vivid-700: #127fbf;
  --color-light-blue-vivid-800: #0b69a3;
  --color-light-blue-vivid-900: #035388;

  /* === Supporting (Red Vivid) === */
  --color-red-vivid-50: #ffe3e3;
  --color-red-vivid-100: #ffbdbd;
  --color-red-vivid-200: #ff9b9b;
  --color-red-vivid-300: #f86a6a;
  --color-red-vivid-400: #ef4e4e;
  --color-red-vivid-500: #e12d39;
  --color-red-vivid-600: #cf1124;
  --color-red-vivid-700: #ab091e;
  --color-red-vivid-800: #8a041a;
  --color-red-vivid-900: #610316;

  /* === Supporting (Yellow Vivid) === */
  --color-yellow-vivid-50: #fffbea;
  --color-yellow-vivid-100: #fff3c4;
  --color-yellow-vivid-200: #fce588;
  --color-yellow-vivid-300: #fadb5f;
  --color-yellow-vivid-400: #f7c948;
  --color-yellow-vivid-500: #f0b429;
  --color-yellow-vivid-600: #de911d;
  --color-yellow-vivid-700: #cb6e17;
  --color-yellow-vivid-800: #b44d12;
  --color-yellow-vivid-900: #8d2b0b;

  /* === Supporting (Teal) === */
  --color-teal-50: #effcf6;
  --color-teal-100: #c6f7e2;
  --color-teal-200: #8eedc7;
  --color-teal-300: #65d6ad;
  --color-teal-400: #3ebd93;
  --color-teal-500: #27ab83;
  --color-teal-600: #199473;
  --color-teal-700: #147d64;
  --color-teal-800: #0c6b58;
  --color-teal-900: #014d40;

  /* new pallette */
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface: var(--blue-2);
  --color-on-surface: var(--gray-11);
  --color-primary: var(--blue-9);
  --color-on-primary: var(--blue-contrast);
  --color-secondary: var(--blue-7);
  --color-on-secondary: var(--gray-contrast);
  --color-text-default: var(--gray-11);

  --color-background-strong: var(--blue-1);
  --color-background-neutral: var(--blue-2);
  --color-background-weak: var(--blue-3);

  --color-text-strong: var(--gray-12);
  --color-text-neutral: var(--gray-11);
  --color-text-weak: var(--gray-10);

  --color-link-primary: var(--blue-9);
  --color-text-primary: var(--blue-contrast);
  --color-link-primary-hover: var(--blue-10);

  --color-border-body-strong: var(--gray-6);
  --color-border-body-neutral: var(--gray-7);
  --color-border-body-weak: var(--gray-8);
  --color-border-body-hover: var(--gray-9);

  --color-border-primary: var(--blue-9);
  --color-border-primary-hover: var(--blue-10);

  --color-chip-border-outline: var(--blue-9);
  --color-chip-text-outline: var(--blue-11);
  --color-chip-background-outline: var(--blue-2);

  --color-icon-neutral: var(--gray-11);

  --color-button-background-error: var(--red-9);
  --color-button-content-error: var(--blue-contrast);

  --color-input-text-strong: var(--gray-12);
  --color-input-text-neutral: var(--gray-11);
  --color-input-text-weak: var(--gray-10);
  --color-input-border-outline: var(--blue-8);
}

body {
  font-family: var(--font-montserrat);
  min-height: 100vh;
  background: var(--blue-1);
}

.prose-brand {
  @apply prose max-w-none;

  font-family: inherit;
  --tw-prose-body: var(--color-text-neutral);
  --tw-prose-headings: var(--color-indigo-900);
  --tw-prose-pre-code: var(--color-text-strong);
  --tw-prose-pre-bg: var(--gray-3);
}
